.venv/
orchestrator/data/images/*
orchestrator/.idea/*
__pycache__
.coverage
/data/*
.DS_Store
*.egg-info/
docs/IonVision/ionvision-integration-tests/.ionvision-hardware.json.example
.vscode/settings.json
