{
    "calibrated_at": "2026-04-03T11:28:47.133511+00:00",
    "intrinsics_path": "data/calibration/camera_params.json",
    "resolution": [
        1920,
        1080
    ],
    "checkerboard": {
        "inner_corners": [
            8,
            6
        ],
        "square_size_mm": 34.0,
        "fixed_points": [
            [
                1,
                0
            ],
            [
                1,
                6
            ],
            [
                5,
                7
            ],
            [
                5,
                0
            ]
        ]
    },
    "image_points": [
        {
            "row": 1,
            "col": 0,
            "pixelX": 765.090087890625,
            "pixelY": 544.9201049804688
        },
        {
            "row": 1,
            "col": 6,
            "pixelX": 1371.76513671875,
            "pixelY": 549.4698486328125
        },
        {
            "row": 5,
            "col": 7,
            "pixelX": 1467.026123046875,
            "pixelY": 951.1913452148438
        },
        {
            "row": 5,
            "col": 0,
            "pixelX": 761.9326782226562,
            "pixelY": 949.6993408203125
        }
    ],
    "robot_points": [
        {
            "row": 1,
            "col": 0,
            "robotX": 225.0590057373047,
            "robotY": 242.5663299560547,
            "robotZ": -41.31499481201172
        },
        {
            "row": 1,
            "col": 6,
            "robotX": 315.7629699707031,
            "robotY": 52.2573356628418,
            "robotZ": -40.29862976074219
        },
        {
            "row": 5,
            "col": 7,
            "robotX": 210.2286834716797,
            "robotY": -41.211769104003906,
            "robotZ": -39.595359802246094
        },
        {
            "row": 5,
            "col": 0,
            "robotX": 103.54090118408203,
            "robotY": 186.29591369628906,
            "robotZ": -39.28962707519531
        }
    ],
    "start_pose": {
        "x": 163.99742126464844,
        "y": -167.67539978027344,
        "z": 1.6947784423828125,
        "r": -45.63533401489258
    },
    "rvec": [
        [
            -2.6177730245378084
        ],
        [
            1.6182461823741345
        ],
        [
            -0.15870918063818285
        ]
    ],
    "tvec": [
        [
            42.46117924094382
        ],
        [
            307.21252740770535
        ],
        [
            447.4969613984821
        ]
    ],
    "plane": {
        "origin": [
            225.0590057373047,
            242.5663299560547,
            -41.31499481201172
        ],
        "x_axis": [
            0.4302403342639457,
            -0.9027015082544587,
            0.004820971642068347
        ],
        "y_axis": [
            -0.9026395079977705,
            -0.4301297311835053,
            0.01517672407169517
        ],
        "normal": [
            0.011626408473434822,
            0.010881238308705578,
            0.9998732046009025
        ]
    }
}
